.task-board {
  display: flex;
  justify-items: stretch;
  height: 100%;
  overflow-y: auto;

  & > .task-column {
    margin-left: 0.2rem;
    margin-right: 0.2rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
